body, html {
    margin: 0 auto;
}

body, header {
    background-color: #1E2226;
    padding-bottom: 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

body {
    max-width: 2400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section__quote,
.button__navigation__header,
.body-header,
.balance-money,
.coin-list,
.info-section,
.section-header {
    font-family: Impact, fantasy;
}

.content {
    margin-top: 5rem;
}

.footer {
    font-size: 1.5rem;
    color: white;
    width: 95%;
    text-align: center;
    font-family: Chalkduster, fantasy;
    margin-top: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: auto;
}